@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato&family=Paytone+One&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
body,html{
  overflow-x: hidden;

}
.btn{
  position: absolute;
  top:15px;
  right:10px;
  cursor: pointer;
}
h2{
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  font-size: 150px;
}
h3{
  font-family:'Lato', sans-serif;
}
.btn span{
  color:black;
  font-size:28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.btn.click{
  right: 290px;
}
.sidebar.show{
  right:30px;
}
.intro{
  width:100vw !important;
  height:100vh;
}
.sidebar{
  position: fixed;
  width:250px;
  right:-350px;
  height:400px;
  top: 40px;
  background:black;
  opacity:70%;
  transition:left 0.4s ease ;
  border-radius: 25px;

}


.sidebar li{
  text-align: center;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black!important;
  border-right:10px solid transparent;
}
.sidebar li:hover{
  color:orange;
  background:rgb(168, 188, 212);
  border-right-color: rgb(90,124,76)
}
.sidebar .nav-link
{
    color:rgb(178, 129, 94);
    text-decoration: none;
}
.sidebar .nav-link:hover{
  color: black
}
#sn{
  text-align: end;
  padding-top: 20px;
}


.about{
  width:100vw !important;
  height:100vh !important;
  background-color:#ffd700;
  display:grid;
  grid-template-columns: 800px 580px;
  grid-template-rows: 800px;
  
}
.about1{
  margin-left:10%;
}
.about2{
  margin-top:10%;
  padding-left: 5%;
}
.intro
{
    background-image: url("assets/img2.jpg");
    background-repeat: no-repeat!important;
    min-width:  100%!important;
    z-index:-1;
    min-height:100%!important;
    background-size:cover;
}



 #loader{
    padding-top:200px;
    padding-left:110px;
  }
.writing{
  font-family: 'Paytone One', sans-serif;
  padding-top: 25%;
  padding-left:25%;
  font-size: 60px;
}

.why{
  width:100vw !important;
  height:100vh !important;
  background-color:#00cba9;
  display:grid;
  grid-template-columns: 580px 800px;
  grid-template-rows: 860px;
  
}
.why2{
  margin-left:90px;
}
.why1{
  margin-left: 10%;
  margin-top: 20%;
}
.how{
  background-color:#FFAE42;
  width:100vw !important;
  height:100vh !important;
  display:grid;
  grid-template-columns: 800px 580px;
  grid-template-rows: 800px;
}
.how2{
  padding-top: 15%;
}
.softwares{
  width:100vw !important;
  background-color: #C576F6;
  height:100vh !important;
  display:grid;
  grid-template-columns: 580px 800px;
  grid-template-rows: 860px;
  


}
.soft2{
  margin-left:90px;
}
.soft1{
  margin-left: 10%;
  margin-top: 20%;
}
.footer{
  width:100vw;
  height:50vh;
  background-color: #a2d9ff;
}